@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");
:root {
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-blue: hsl(218, 23%, 16%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-blue);
  font-family: "Manrope", sans-serif;
  /* height: 100vh; */
  font-size: 1.0769230769230769rem;
}

.card-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.advice-card h6 {
  margin: 2rem auto;
  color: var(--neon-green);
  letter-spacing: 0.15rem;
  font-weight: 700;
  font-size: 0.7rem;
}
.advice-card {
  background-color: var(--dark-grayish-blue);
  position: relative;
  max-height: 40rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  max-width: 30rem;
  margin: 5rem auto;
  padding: 1rem 0.2rem 3rem;
  border-radius: 15px;
}
/* @keyframes showOff {
  from {
    color: hsla(193, 38%, 86%,1);
    font-size: 1.25rem;
  }
  20% {
    color:hsla(217, 19%, 44%,0.5);
    font-size: 1rem;
  }
  40% {
    color: hsla(217, 19%, 24%,0);
    font-size: 0.75rem;
  }
  60% {
    color: hsla(217, 19%, 30%,0.5);
    font-size: 1rem;
  }
  80% {
    color: hsl(193, 38%, 56%,0.8);
    font-size: 1rem;
  }
 
} */
/* .advice.animate {
  animation-name: showOff;
  animation-duration: 2s;
} */
.advice,
.advice-card h6 {
  transition: opacity 2s, font-size 2s;
}
.advice {
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--light-cyan);
  margin: 20px;
}

.divider .svg-mobile-divider {
  display: none;
}
.divider .svg-desktop-divider {
  display: none;
}
#dice-background {
  position: absolute;
  left: calc(50% - 2rem);
  bottom: calc(0% - 2rem);
  background-color: var(--neon-green);
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
}
#dice {
  transform: translateY(1.2rem);
  transition: transform 2s;
}
/* @media screen and (max-width: 90rem) {
  .advice-card {
    margin: calc(50%-15rem) auto calc(50%+15rem);
  }
} */
#dice-background:hover {
  box-shadow: 0 0 20px 3px var(--neon-green);
}
@media screen and (min-width: 23.4375rem) {
  .divider .svg-mobile-divider {
    display: initial;
  }
}
@media screen and (min-width: 90rem) {
  .divider .svg-mobile-divider {
    display: none;
  }
  .divider .svg-desktop-divider {
    display: initial;
  }
}
